

body{
   padding: 0;
   
   margin: 0;
  
}

.container{
   display: flex;
   box-sizing: border-box;
   padding-top: 10px;
   padding-bottom: 30px;
   height: 100vh;
   
   justify-content: center;
   align-items: center;
   
   text-align: center;
   
   flex-direction: column;
   background: linear-gradient(#e66465, #9198e5);
   
   
  
}

.opcs{
   display: flex;
   text-align: center;
   align-items: center;
   width: 30px;
   height: 50px;
   border-radius: 1rem 0 0 1rem;
   padding: 19px;
   margin: 0;
   
   background-color: yellow;
}



.altern{
  padding: 10px;
  
  align-items: center;
  
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 5px;
  gap: 2px;
  
 
}

.alt {
  
   cursor: pointer;
   font-family: 'Sarabun', sans-serif;
   
   padding: 19px;
   line-height: 20px;
   box-shadow:2px 2px 2px gray ;
   height: 50px;
   border-radius: 0 1rem  1rem 0;
   width:100%;
   
   background-color: rgb(131, 27, 154);
   color: rgb(208, 160, 238);
}
.alt:hover{
   
   background-color: rgb(148, 28, 174) ;
}

.questao{
   font-size: 20px;
  
   width: 100%;
   margin-bottom: 20px;
   height: 12%;
   font-family: 'Roboto', sans-serif;
}

.selected{
   background-color: rgb(169, 52, 192);
   color: rgb(106, 250, 255);
}




.comecar{
   width: 200px;
   height: 50px;
   border: none;
    position: relative;
  
    background-color: red;
   outline: none;
   cursor: pointer;
   border-radius: 20px;
}
.comecar:hover{
   background-color: brown;
   transition: background-color .6s;
}

.buttons{
   display: flex;
   justify-content: space-between;
}

.volt_btn{
   display: none;
   position:relative;
   top: -100px;
   width: 100px;
   height: 50px;
   left: -200px;
}

.verificar_res{
   display: none;
   width: 100px;
   height: 50px;
   
   text-transform: uppercase;
   color: rgb(160, 195, 160);
   color: purple;
   font-weight: bold;
   border: none;
   border-radius: 2px;
  
}

.verificar_res:hover{
   transform:translateY(-2px);
   background-color:#ddd;
   
}

.mostr_score{
   
   line-height: 15px;
   display: none;
   text-align: center;
   font-size: 30px;
   height: 50px;
   border: 1px solid black;
   background-color: rgba(0,0, 0,0.9);
   width: 300px;
}

.media{
   width: 150px;
   
   
  
   line-height: 30px;
   display: none;
   text-align: center;
   padding: 30px;
   margin-bottom: 20px;
   font-size: 30px;
 background-color: rgb(137, 69, 69);
   height: 160px;
   
   color:rgb(220, 220, 65)
  
}
.otimo{
   line-height: 30px;
   display: none;
   text-align: center;
   padding: 30px;
   margin-bottom: 20px;
   font-size: 30px;
   background-color: rgb(140, 117, 117);
  
   height: 100px;
   
   color: rgb(20, 220, 77);
}

.ruim{
   line-height: 30px;
   display: none;
   text-align: center;
   padding: 30px;
   margin-bottom: 20px;
   font-size: 30px;
   background-color: rgb(220, 192, 192);
   height: 100px;
   
   color:rgb(182, 40, 40)
}

.container_botao_iniciar{
   
 
   display: flex;
   
   justify-content: center;
   align-items: center;
   height: 100vh;
   position: absolute;
   background-color: rgba(0,0,0,0.8);
   top: 50%-1;
   width: 100%;
  
   
}
.colocar_nome{
   width: 200px;
   font-size: 20px;
   margin-bottom: 20px;
   order: 1;
}
.colocar_nome input{
   outline: none;
   padding: 14px;
   border-radius: 10px;
   border: none;
}

.botao_iniciar{
   width: 70%;
   height: 60%;
   flex-direction: column-reverse;
   display: flex;
   order: 2;
   justify-content: center;
   align-items: center;
   background-color: rgba(180, 25, 227, 0.8);

}